<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCard - You Job Card Dinamic</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header>
        <div class="links">
            <a href="/">Home</a>
            <a href="/cards">Cards</a>

        </div>

    </header>
    {% block content %}

    {% endblock %}
    
</body>
</html>